# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
._Hadoop
._RestaurantEDA.Rmd
.Rproj.user
._sc_multiple_nodes.Rmd
._survival_plot_sparklyr.Rmd
._dplyr_to_sql.Rmd
._shiny_ggplot_spark_transformation.R
._linear_regression.Rmd
._shiny_ggplot_spark_transformation.Rmd
._instacart_market_basket_analysis
.RDataTmp1
.RDataTmp
._White_blood_Cells
