<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
    
      <h3>Restuarants Add Student</h3>
      
     <table>
            <tr>
               <th>RestID</th>
               <th>RestNAme</th>
               <th>RestMail</th>
               
            </tr>
         
           <!--  {% for rests in restadmin %}
               <tr>
                  <td>{{ rests.rid }}</td>
                  <td>{{ rests.rname }}</td>
                  <td>{{ rests.rmail }}</td>
               </tr>
            {% endfor %} -->

            {% for rests in restadmin %}
               <tr>
                  <td>{{ rests.iid }}</td>
                  <td>{{ rests.iname }}</td>
                  <td>{{ rests.rid }}</td>
                  <td>{{ rests.iprice }}</td>
               </tr>
            {% endfor %}

           <!--   {% for rest in custom %}
               <tr>
                  <td>{{ rest.cid }}</td>
                  <td>{{ rest.cname }}</td>
                  <td>{{ rest.cmail }}</td>
               </tr>
            {% endfor %} -->

           <!--   {% for rests in restadmin %}
               <tr>
                  <td>{{ rests.amail }}</td>
                  <td>{{ rests.apassword }}</td>
               </tr>
            {% endfor %} -->
  </table>
      
   </body>
</html>