<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
</head>
<body>
<script src="{{ url_for('static',filename = 'validate.js') }}"></script>
            <h2>USER LOGIN</h2>
                           <form action="/loginNext" method="POST">
                           
                            <div class="form-group">
                                <input type="email" class="form-control" id="cmail" name="cmail" placeholder="Email" required = "true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            </div>
                            <div class="form-group">
                                 <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Password" required = "true" pattern=".{6,}">
                           </div>
            
                           
                            <button type="submit" class="btn btn-primary" value=”submit”>Login</button>
                        </form>   
<!-- <form action="/loginNext" method="post" id="form1">
	<p> User ID: <input type="text" name="userid" id="userID"> </p>
	<p> Password : <input type="password" name="loginpassword" id="loginPassword"> </p>
	<p> <input type="submit" value="Log Me In!" onclick="validate()"> </p>
</form> -->
</body>
</html>