<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update Menu</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->


<link href="{{ url_for('static',filename = 'style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'default.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'nivo-lightbox.css') }}" rel="stylesheet" type="text/css">


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== --><!-- 
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css"> -->
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">



</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<script src="{{ url_for('static',filename = 'validate.js') }}"></script>

<!-- Navigation
    ==========================================-->

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Dig In!</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li><a href="/resthome1" class="page-scroll">Home</a></li>
       <li><a href="/restacceptedorders" class="page-scroll">Orders</a></li>
        <li><a href="/showmyrestmenu" class="page-scroll">Menu</a></li>
        <li><a href="/additem" class="page-scroll">Add Item</a></li>
        <li><a href="/updateitem" class="page-scroll">Update Item</a></li>
        <li><a href="/deleteitem" class="page-scroll">Remove Item</a></li>  
        <li><a href="/showrestprofile" class="page-scroll">Profile</a></li>
        <li><a href="/updaterestprofile" class="page-scroll">Update Pwd</a></li>
        <li><a href="/restlogout" class="page-scroll">Logout</a></li>    
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro" style="background-image:url({{url_for('static',filename='intro-bg.jpg')}});">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            
        <div class="spacing">
        <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
           <h4 style="color:red;" "background-color:white;"><b><i>{{imsg}}</i></b></h4>
          <script src="{{ url_for('static',filename = 'validate.js') }}"></script>
            <h2 style="font-family: Lucida Console; color:#8B0000; background-color:#DCDCDC">Delete Item</h2>
            
            <form action="/deleteitemNext" method="POST">
                            <div class="form-group">
                                <input type="number" class="form-control" id="iid" name="iid" placeholder="Enter Item Id">
                            </div>
                            

                            <!-- <div class="form-group">
                                <input type="text" class="form-control" id="iname" name="iname" placeholder="Enter Item Name">
                            </div> -->

                             <!-- <div class="form-group">
                                <input type="text" class="form-control" id="iprice" name="iprice" placeholder="Enter Item Price">
                            </div> -->

                          <!--   <div class="form-group">
                                <input type="text" class="form-control" id="rid" name="rid" placeholder="Enter Restaurant Id">
                            </div> -->

                            <button type="submit" class="btn btn-primary" value=”submit” onclick="javascript:validate()">Remove</button>
                        </form>   
        </div>
        </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contact Section -->
 
<div id="footer">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Office Address</h3>
      <div class="contact-item">
        <p>IIIT HYDERABAD </p>
        <p> Professor CR Rao Rd </p>
        <p> Gachibowli, Hyderabad  </p>
         <p> Telangana 500032 </p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>ISSUES </h3>
      <div class="contact-item">
    <p> If Forget Password, <br> Mail at keshu@admin.com </p>
      <p> To register your Restaurant, <br>  keshu@admin.com </p>
        <!-- <p> <a href="https://www.swiggy.com/privacy-policy" rel="nofollow">Partner Privacy Policy </a> </p> -->



      </div>
    </div>
    <div class="col-md-4">
      <h3>Contact Info</h3>
      <div class="contact-item">
      <p> <a href="https://www.facebook.com/kishan.ssinghal" rel="nofollow">facebook </a> </p>
        <p> <a href="https://twitter.com/Starlord_75" rel="nofollow">twitter </a> </p>
        <p> Email : meghashree.ka@students.iiit.ac.in </p>
        <p> Phone Number : +91 70575 33780 </p>

      </div>
    </div>
  </div>
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <p> Copyright &copy; 2018 Dig In!. All rights reserved. Designed by <a href="https://www.facebook.com/anjulgupta1994" rel="nofollow">fsociety</a></p>

    </div>
  </div>
</div>

</body>
</html>
