<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update User Profile</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->


<link href="{{ url_for('static',filename = 'style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'default.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename = 'nivo-lightbox.css') }}" rel="stylesheet" type="text/css">


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== --><!-- 
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css"> -->
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">



</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<script src="{{ url_for('static',filename = 'validate.js') }}"></script>

<!-- Navigation
    ==========================================-->

<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Dig In!</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/userhome1" class="page-scroll">Home</a></li>
        <li><a href="/userorders" class="page-scroll">My orders</a></li>
        <li><a href="/showuserprofile" class="page-scroll">Show Profile</a></li>
        <li><a href="/updateuserprofile" class="page-scroll">Update Password</a></li>
        <li><a href="/logout" class="page-scroll">Logout</a></li>
      </ul>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
 <div class="intro" style="background-image:url({{url_for('static',filename='user1.jpg')}}); background-repeat:no-repeat;">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            
        <div class="spacing">
        <div class="row">
          <h4 style="color: green"><b><i>{{cmsg}}</i></b></h4>
        <div class="col-xs-4 col-xs-offset-4">
          <script src="{{ url_for('static',filename = 'validate.js') }}"></script>
            <h2 style="font-family: Lucida Console; color:#8B0000; background-color:#DCDCDC">Update Password</h2>
            <form action="/updateuserprofileNext" method="POST">
                          <!--  
                            <div class="form-group">
                                <input type="email" class="form-control" id="cmail" name="cmail" placeholder="Email" required = "true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            </div> -->
                            <div class="form-group">
                                 <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Enter New Password" required = "true" pattern=".{6,}">
                           </div>
            
                           <div class="form-group">
                                 <input type="password" class="form-control" id="password" name="password" placeholder="Re-Enter New Password" required = "true" pattern=".{6,}">
                           </div>

                          <!--   <div class="form-group">
                                <input type="text" class="form-control" id="cmobile" name="cmobile" placeholder="Enter New Mobile number">
                            </div> -->

                             <div class="form-group">
                            <!--     <input type="text" class="form-control" id="caddress" name="caddress" placeholder="Enter New Address"> -->
                            </div>
                            <button type="submit" class="btn btn-primary" value=”submit” onclick="validate()">Update</button>
                        </form>   
        </div>
        </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contact Section -->
 
<div id="footer">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Address</h3>
      <div class="contact-item">
        <p>IIIT HYDERABAD </p>
        <p> Professor CR Rao Rd </p>
        <p> Gachibowli, Hyderabad  </p>
         <p> Telangana 500032 </p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>ISSUES </h3>
      <div class="contact-item">
    <p> If Forget Password, <br> Mail at keshu@admin.com </p>
      <p> To register your Restaurant, <br>  keshu@admin.com </p>
        <!-- <p> <a href="https://www.swiggy.com/privacy-policy" rel="nofollow">Partner Privacy Policy </a> </p> -->



      </div>
    </div>
    <div class="col-md-4">
      <h3>Contact Info</h3>
      <div class="contact-item">
      <p> <a href="https://www.facebook.com/kishan.ssinghal" rel="nofollow">facebook </a> </p>
        <p> <a href="https://twitter.com/Starlord_75" rel="nofollow">twitter </a> </p>
        <p> Email : meghashree.ka@students.iiit.ac.in </p>
        <p> Phone Number : +91 70575 33780 </p>

      </div>
    </div>
  </div>
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <p> Copyright &copy; 2018 Dig In!. All rights reserved. Designed by <a href="https://www.facebook.com/anjulgupta1994" rel="nofollow">fsociety</a></p>

    </div>
  </div>
</div>

</body>
</html>
